body .blok {
    
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav{
    height: 65px;
    background-color: rgb(104, 195, 223);
    position: sticky;
    top:0;
    margin-top: 0;
}

.nav ul{
    list-style-type: none;
}
.nav .logo{
    float: left;
    width: 20%;
    font-size: 25px;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 2px 2px black;
    font-weight: 600;
    
}

.nav ul li{
    float:left;
    padding: 0 30px;
    transition: transform .2s;
}

.nav ul li a{
    color:#03090f;
    line-height: 65px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
   

}
.nav ul li:hover{
    background-color: white;
    transform: scale(1.15);
    
}


.knjigepocetak .knjige {
    width: 1600px;
    margin: 0 auto;
    padding: 100px;
   



}
.knjige img{
    width: 100%;
    
}
.knjige .kartica{
    float:left;
    width: calc((100% - 200px)/5);
    margin-right: 320px;
    margin-left: 150px;
    margin-bottom: 100px;
    border: 2px solid black;
    padding: 10px;
    transition: transform .2s
}
.kartica:hover{
    transform: scale(1.15);
    background-color: darkorange;
}

