*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 65px;
    background-color: rgb(104, 195, 223);
    position: sticky;
    top:0;
    margin-top: 0;
}

.nav ul{
    list-style-type: none;
}
.nav .logo{
    float: left;
    width: 20%;
    font-size: 25px;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 2px 2px black;
    font-weight: 600;
    
}

.nav ul li{
    float:left;
    padding: 0 30px;
}

.nav ul li:hover{
    background-color: white;
    transform: scale(1.15);
    
}

.nav ul li a{
    color:#03090f;
    line-height: 65px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
.main {
    
    margin-top: 60px;
    margin-left: 350px;
    margin-right: 320px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    margin-bottom: 20px;
}
h1{
    margin-bottom: 40px;
}
h2{
    margin-bottom: 10px;
}
ol{
    margin-bottom: 20px;
}
.poslednji{
    margin-bottom: 100px;
}

.panda{
    height: 500px;
    width: 800px;
}

.panda1{
    height: 500px;
    width: 500px;
    margin-bottom: 60px;
}

@media only screen and (min-width: 1600px) {
    .main {
        margin-left: 450px;
        margin-right: 400px;
    }
}

@media only screen and (max-width: 420px){
    .main {
        margin-left: 0;
        margin-right: 0;
    }
    body{
        display:flex ;
        flex-direction: column;
        width: 100%;
    }
    .ciljevi{
        height: 150px;
        width: 150px;
    }

}
